<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Puzzles</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="js/template.js"></script>
	<script src="js/puzzles.js"></script>
</head>
<body>
	<div class="wrapper">
        <div class="header">
            <h1 class="header__name">Create test with using tamplate, JSON, localStorage, use strict, modal window</h1>
            <div class="header__task">
                <a href="#" id="task__show" class="task__link">Посмотреть задание</a>
                <ol class="task__list display-none">
                    <li class="task__item">
                        Создать тест. Перед стартом приложения записать в localStorage объект с вопросами и ответами теста. Потом прочесть данные из localStorage, отрендерить их используя любой javascript-шаблонизатор.
                    </li>
                    <li class="task__item">
                        Так же в приложении должна быть прописана директива 'use strict;', в консоли не должно быть никаких javascript-ошибок.
                    </li>
                    <li class="task__item">
                        На странице должна быть возможность пройти тест. При клике на кнопку "Проверить" нужно выполнить проверку правильных ответов и вывести сообщение об успешном или не успешном прохождении теста. После вывода сообщения, обнулить отметки чтоб тест можно было пройти опять.
                    </li>
                    <li class="task__item">
                        В каждом вопросе может быть только один правильный вариант ответа.
                    </li>
                    <li class="task__item">
                        Само сообщение о результатах теста нужно сделать в стиле простого модального окна. Верстка и код появления модальки должны быть написаны вами.
                    </li>
                </ol>
                <a href="#" id="task__hide" class="task__link display-none">Свернуть</a>
            </div>
        </div>
        <div class="puzzles horizontal-line">
            <script id="puzzles" type="text/template">
                <h2 class="puzzles__name">Puzzles</h2>
                <form>
                    <ol class="puzzles__list">
                        <% for (var i = 0; i < puzzles.length; i++){ %>
                            <li class="puzzles__question-item">
                                <p class="puzzles__question">
                                    <%= puzzles[i].question %>
                                </p>
                                <ol class="puzzles__sublist">
                                    <% for (var j = 0; j < puzzles[i].answer.length; j++){ %>
                                    <li class="puzzles__item">
                                        <label class="form__label">
                                            <input class="form__radio" type="radio" name=<%= "answer" + [i] %>>
                                            <span class="form__answer"><%= puzzles[i].answer[j] %></span>
                                        </label>
                                    </li>
                                    <% } %>
                                </ol>
                            </li>
                        <% } %>
                    </ol>
                    <input class="button" id="submit" type="submit" value="Проверить">
                </form>
            </script>   
        </div>
        <footer class="footer horizontal-line">
            <p class="footer__design">Design by Neilo Y. 2016</p>
        </footer>
    </div>

	<script src="js/script.js"></script>
</body>
</html>
